<%- include('layout/head'); %>
<script type="text/javascript" src=" http://maps.google.com/maps/api/js?v=3.3&sensor=true"></script>
  <script type="text/javascript"> 
  function initialize() {
   var myLatlng = new google.maps.LatLng(35.154210, 128.097919);
   var myOptions = {
    zoom: 15,
    center: myLatlng,
    mapTypeId: google.maps.MapTypeId.TERRAIN
   }
   var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
   var marker = new google.maps.Marker( {
    position: myLatlng, 
    map: map, 
    title:"(주)경상대학교"
   });   
   var infowindow = new google.maps.InfoWindow( {
    content: "(주)진주시 가좌동"
   });
   infowindow.open(map,marker);
  }
  window.onload=function() {
   initialize();
  }
  </script>

    <div class="main">
        <div class="maps"  id="map_canvas"></div>
    </div>
<%- include('layout/foot'); %>
