<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>index</title>
  
<link rel="stylesheet" href="style.css" type="text/css">
</head>
<body>
  <div class="banner">
    <div class="b-left">
        <a href="/"><img src="/img/logo.jpg" alt=""></a>
    </div>
    <div class="b-right">
        <table>
            <tr>
                <td class="b-content">자연대학</td> 
                <td class="b-content">인문대학</td> 
                <td class="b-content">공과대학</td> 
                <td class="b-content">농학대학</td> 
            </tr>

            <tr class="disa" >
                <td>자연대학</td> 
                <td>인문대학</td> 
                <td>공과대학</td> 
                <td>농학대학</td> 
            </tr>
            <tr class="disa" >                        
                <td>자연대학</td> 
                <td>인문대학</td> 
                <td>공과대학</td> 
                <td>농학대학</td> 
            </tr>
            <tr class="disa" >
                <td>자연대학</td> 
                <td>인문대학</td> 
                <td>공과대학</td> 
                <td>농학대학</td>                   
              </tr>
            <tr class="disa" >
                <td>자연대학</td> 
                <td>인문대학</td> 
                <td>공과대학</td> 
                <td>농학대학</td>                    
             </tr>
            <tr class="disa" >
                <td>자연대학</td> 
                <td>인문대학</td> 
                <td>공과대학</td> 
                <td>농학대학</td>                     
            </tr>
            <tr class="disa">
                <td>자연대학</td> 
                <td>인문대학</td> 
                <td>공과대학</td> 
                <td>농학대학</td>                    
             </tr>
        </table>
    </div>
</div>
<nav>
  <div class="config"><a href="" target="_parent">설정</a></div>
  <div class="profile"><a href="myprofile" target="_parent">내정보</a></div>
  <div class="login"><a href="/login" target="_parent" > 로그인</a></div>
</nav>
  